footer {
  background-color: black !important;
}
footer p h1{
  color: white !important;
}

.text {
  font-size: 20px !important;
}
.email-subscribe {
  display: flex;

  margin-top: 10px;
}

.subscribe-input {
  flex: 1;
  width: 180px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.subscribe-btn {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribe-btn:hover {
  background-color: gray;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .subscribe-input {
    flex: 1;
    width: 150px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .subscribe-input {
    flex: 1;
    width: 130px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  .email-subscribe input::placeholder{
font-size: 15px !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .subscribe-input {
    width: 120px !important;
  }
  .subscribe-input::placeholder {
    font-size: 12px;
  }
  .subscribe-btn {
    padding: 10px 10px !important;
  }
}
