.navbar {
  background-color: black !important;
}
.dropdown-menu {
  background-color: black !important;
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {

  color: black !important;
}
.nav-link{
    padding-right: 20px !important;
    font-size: .875rem !important;
}
.nav-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Light border */
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7); /* Light color */
  transition: all 0.3s ease;
}

.nav-icons a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}


