.cart-item {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  display: flex !important;
  justify-content: center !important;
  background-color: #fff;}
  .cart-item .col-md-6,
  .cart-item .col-md-3 {
    text-align: center;
    padding-top: 10px;
  }
.img-fluids {
 max-width: 100%;
  height: 150px !important;
  object-fit: contain !important;
}
.cart-item:hover {
  transform: scale(1.01);
}
.total-section {
  background-color: #f8f9fa;
  border-radius: 12px;
}
.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.btn-dark {
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
}
@media (min-width:576px) and (max-width:768px){
  .cart-item .col-md-6,
  .cart-item .col-md-3 {
    text-align: center;
    padding-top: 10px;
 
  }
}
@media (max-width: 575px) {
  .cart-item .col-md-6,
  .cart-item .col-md-3 {
    text-align: center;
    padding-top: 10px;
  }
}
