.contact-container {
  max-width: 600px;

  margin: 50px auto;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  gap: 50px;
}

.form-groups {
  display: flex;
  flex-direction: column;
  text-align: left;
  ;
  position: relative;
}

.form-groups label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-groups input,
.form-groups textarea {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;

  font-size: 16px;
  background: transparent;
  border-radius: 0;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #333;
}

.status-message {
  margin-top: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Green for success */
.status-message.success {
  background-color: #e6f9ec;
  color: #2d7a46;
  border: 1px solid #2d7a46;
}

/* Red for error */
.status-message.error {
  background-color: #ffe6e6;
  color: #d03333;
  border: 1px solid #d03333;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-container {
    width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-container {
    width: 100% !important;
    padding: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact-container {
    width: 100% !important;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  .contact-container {
    width: 100% !important;
    padding: 10px;
  }
}
