.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.size-quantity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
  width: 80px;
}

.size-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 30px;
  border: 2px solid black; /* Changed to a full border instead of just the bottom */
  border-radius: 5px; /* Rounded corners for the box */
  font-size: 16px;
  font-weight: bold;
}

.product-image {
  height: 450px;
  object-fit: contain !important;
}

/* Image */
img {
  object-fit: cover !important;
}

/* Buttons and layout */
.btn {
  border-radius: 10px;
}
